body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    background: linear-gradient(90deg, lightgrey, skyblue);
    overflow: hidden;
}
.clock {
    width: 700px;
    height: 700px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
    display: block;
}
.sec, .min {
    position: absolute;
    transition: all ease 1s;
}